{% extends 'base.html' %}
{% load static %}

    {% block 'body' %}
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
            
                <!-- Icon -->
                <div class="fadeIn first">
                    <h1 style="margin-top: 20px;">Login</h1>
                    
                </div>
                <br>
                <!-- Login Form -->
                <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                    <input type="text" id="login" class="fadeIn second" name="email" placeholder="Nome de usuário...">
                    <input type="text" id="password" class="fadeIn third" name="senha" placeholder="Senha...">
                    <input type="submit" class="fadeIn fourth" value="Entar">
                </form>
            
                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Esqueci a senha</a>
                </div>
            </div>
        </div>
        
    {% endblock  %}
    