{% extends 'base.html' %}


    {% block 'body' %}
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
            
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="https://github.com/fernandesraquel/doc-modelos/blob/main/docs/Component%201.png" id="icon" alt="User Icon" />
                    
                </div>
                <br>
                <!-- Login Form -->
                <form action="{% url 'sair' %}" method="POST">{% csrf_token %}
                    <input type="text" id="login" class="fadeIn second" name="email" placeholder="username">
                    <input type="text" id="password" class="fadeIn third" name="senha" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="Log Out">
                </form>
            
                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Go to the Site</a>
                </div>
            </div>
        </div>
        <!--<div class="container">
            <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                <br>
                <label>E-mail</label>
                <input type="email" placeholder="Digite seu E-mail..." name="email" class="form-control">
                <br>
                <label>Senha</label>
                <input type="password" placeholder="Digite sua Senha..." name="senha" class="form-control">
                <br>
                <input type="submit" class="btn btn-success">

            </form>
        </div>-->
        
    {% endblock  %}